// Custom styles
// =================================================

$color:#CC0000; 
$background-color: #110011;

html{
       font-family: 'Source Sans Pro', sans-serif;
}
body{
	        overflow-x: hidden;
}

.non-clickable{
	    pointer-events: none;
}
/*nav*/

.active{
	color: $color;
}
.red{
	color: #CC0000 ;
}
.main-color{
	background-color:#110011;
}
.logo{
	font-family: 'Montserrat', sans-serif;
	@media (max-width: $breakpoint-small){
		span{
			color:white;
			font-size: 17px;
            font-weight: 500;
		}
	}
}
.nav-link{
	font-family: 'MuseoSans',sans-serif !important;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.8px;
    padding-bottom: .5rem;
    transition: 0.4s all;
    cursor: pointer;
    margin-right: 20px; 
}
.nav-large{
	transition: all 0.9s ease 0s;
	z-index:1000;
}
.nav-small{
	transition: all 0.9s ease 0s;
	z-index:1000;
}
.close-nav{
	display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-height: 80px;
    padding: 0 25px;
    font-size: 0.875rem;
    transition: all 0.7s ease 0s;
}
.nav-link-small{
	font-size: 40px;
    font-weight: 200 !important;
    font-family: 'Source Sans Pro', sans-serif !important;
    text-transform: capitalize;
    div{
    	transition: all 0.4s;
    }
}

/*scroll*/

.scroll-1{
    position: absolute;
}
.scroll-2{
	position: absolute; 
         margin-top:10px;
         margin-bottom:10px;	
}
.scroll-3{
	position: absolute;
		height:20px;
}

/*main*/

.top-width{

	@media (max-width: 470px) {
	}
}

.powerfull{
	    font-family: 'Source Sans Pro', sans-serif;
	    margin-bottom: 0px;
	    font-size: 49px;
	    text-align: center;
	    line-height: 1;
	    padding: 1rem;
	    font-weight: 300;
	    letter-spacing: 1.8px;
}
.strong{
	    font-family: 'Source Sans Pro', sans-serif;
}
@media (min-width: $breakpoint-small) {
	.powerfull{
		    font-size: 54px;
		    line-height: 1;
		    font-weight: 300;
		    letter-spacing: 1.8px;
		    margin-bottom:0px;
	}
}
@media (min-width: $breakpoint-small) {
	.strong{
	        font-size: 30px;
		    font-weight: 300;
		    line-height: 1.24;
		    width: 55rem;
		    z-index: 999999;
		    letter-spacing: 1.8px;
	}
  }
@media (min-width: $breakpoint-medium) {
	.powerfull{
		letter-spacing: 1.8px;
	    font-size: 55px;
	    font-weight: 600;
	     margin-bottom: 0px;
	}
}
@media (min-width: $breakpoint-medium) {
	.strong{
		    color: #fff;
			text-align: center;
			font-size: 29px;
			line-height: 1.24;
			width: 55rem;
			z-index: 999999;
	}
  }

  .arrow{
  	-webkit-animation: action 1s infinite  alternate;
        animation: action 1s infinite  alternate;
    }
    @-webkit-keyframes action {
        0% { transform: translateY(0); }
        100% { transform: translateY(-10px); }
    }
    @keyframes action {
        0% { transform: translateY(0); }
        100% { transform: translateY(-10px); }
    }


/*secondary sections*/

.info-sec{
	text-align:center;
	padding-top: 60px;
	.margin{
		margin-bottom:20px ;
		@media (min-width: $breakpoint-small) {
	        margin-bottom: 85px;
	    }
	}
	span{
		color: #CC0000;
        font-weight: 600;
	}
	.powerfull-s{
		font-family: 'Source Sans Pro', sans-serif;
	    text-align: center;
	    line-height: 1;
	    padding: 1rem;
	    font-weight: 300;
	    letter-spacing: 1.8px;
        margin:0;
        margin-bottom:40px;
        color:white;
        font-size: 55px;

        @media (min-width: $breakpoint-small) {
	        margin-bottom:0px;
	        font-size: 65px;
	    }
        @media (min-width: $breakpoint-medium) {
	        font-weight :400px;
	        font-size: 75px;
	    }	
	    @media (min-width: $breakpoint-large) {
	        font-size: 90px;
	    }			
	}
	.strong-s{
		font-family: 'Source Sans Pro', sans-serif;
        margin:0;
        margin-bottom:10px;
        color:white;
	    letter-spacing: 2px;
	    text-transform: uppercase;
	    font-weight: 500;
	    text-shadow: 0 0 15px rgb(0 0 0 / 30%);
	    font-size:15px;
	    @media (min-width: $breakpoint-small) {
	        font-size: 21px;
	        margin:0;
	    }		
		@media (min-width: $breakpoint-medium) {
	        font-size: 23px;
	    }
	}
	hr{
        margin:auto;
        margin-top: 20px;
        margin-bottom:45px;
        width:50px;
        color:white;
        border-top: 4px solid #e5e5e5;

        @media (min-width: $breakpoint-small) {
	          margin-top: 30px;
              margin-bottom: 35px;
	        }  
	    @media (min-width: $breakpoint-medium) {
	          margin-top: 45px;
              margin-bottom: 50px;
	        }      
	}
	a{
        color:white;
        text-transform: uppercase;
	    font-size: 13px;
	    letter-spacing: 1.4px;
	    font-family: 'MuseoSans',sans-serif;
	    line-height: 1.4;
	    font-weight: 100;
	}
    .p-sec{

        width:240px;
        margin-left: auto;
        margin-right: auto;

        @media (min-width: $breakpoint-small) {
	        width:300px;
	        }   

		p{
			font-family: "Source Sans Pro", sans-serif;
		    margin: 0;
		    color: white;
		    letter-spacing: 0.5px;
		    font-weight: 500;
		    text-shadow: 0 0 15px rgb(0 0 0 / 30%);
		    font-size: 16px;
		    text-align: left;
		    margin-top: 10px;

		    @media (min-width: $breakpoint-small) {
	        font-size: 19px;
	        }  
	        @media (min-width: $breakpoint-small) {
	        font-size: 22px;
	        }    

		    span{
		    	padding-right: 10px;
		    }

		}
    }
}

.last-sec{
	    padding-top: 80px;
	    width: 100%;
	    height: 100%;
	    padding-left:0;
  
	.curtain{
           opacity:0.4;
	    }
	.p-sec{
		.container{
			margin-right: auto;
		    margin-top: -120px;
		    margin-left: 34px;
		    max-width: 164px;
		    @media (min-width: 480px ) {
		        max-width: 222px;
	        }  
			@media (min-width: $breakpoint-small) {
		        max-width:518px;
				margin-left: auto;
	        }  
	        @media (min-width: $breakpoint-medium) {
		        max-width:918px;
				margin-left: auto;
                margin-top: -80px;

	        }  
			p{
			    font-size: 19px;
			    color: #212121;
			    font-weight: 600;
			    @media (min-width: $breakpoint-small) {
		         max-width: 265px;
		         font-size: 21px;
	        }  
			    @media (min-width: $breakpoint-medium) {
		         font-size: 22px;
		         max-width: none;
	        }  
			}
		}
	}    
    a{
        text-transform: uppercase;
	    font-size: 10px;
	    letter-spacing: 1.4px;
	    font-family: 'MuseoSans',sans-serif;
	    line-height: 1.4;
	    font-weight: 100;
	    border-radius: 5px;
	    color: #474747;;
	    border:0.5px solid gray;
	    border-radius:4px;
	    padding:8px;
	    transition: all 0.5s;
	    display: block;
	    max-width: 130px;
	    margin-top: 14px;
	    text-align: center;
	    padding-left: 0px;
        padding-right: 0px;
	    @media (min-width: $breakpoint-medium) {
		            display: inline-block;
					margin-left: 38px;
					margin-top: 13px;
					padding-left: 25px;
					padding-right: 25px;
					font-size: 13px;

	        }  
	    &:hover{
	    	text-decoration: none;
	    	background-color:#474747;;
	    	color:#fff;
	    }
    }


	h4{
        font-family: 'Source Sans Pro', sans-serif;
	    font-size: 49px;
	    text-align: center;
	    line-height: 1;
	    font-weight: 300;
	    letter-spacing: 1.8px;
        margin:0;
        margin-top: 5px;
        color:white;
        font-size: 40px;

        @media (min-width: $breakpoint-small) {
        	margin-top:0;
	    }	

        @media (min-width: $breakpoint-medium) {
	        font-weight :400px;
	        font-size: 50px;
	    }	
	    @media (min-width: $breakpoint-large) {
	        font-size: 50px;
	    }			
	}

	.guy{
        margin-right: auto;
		width: 310px;
		margin-left:-20px;
		opacity:0.4;
		@media (min-width: $breakpoint-small) {
	        width: 315px;
	        margin-left:55px;
	    }	
        @media (min-width: $breakpoint-medium) {
	        width: 400px;
	        margin-top: 30px;
	    }	
	}
}

/*contact*/

.me{
	
}
.contact-top{
    color: #202020;
    font-family: 'MuseoSans',sans-serif;
    font-size: 12px;
    line-height: 0.7;
    letter-spacing: 1.5px;
    margin-bottom: 15px;
}
.contact-bottom{
    font-size: 15px;
    line-height: 1.39;
    letter-spacing: 1px;
    color: #999;
    font-weight: 200;
}
.hey{
	color: #202020;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 34px;
    letter-spacing: 0.8px;
    line-height: 1;
}
.lets-make{
	font-size: 23px;
    line-height: 1.19;
    letter-spacing: 0.5px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: left;
    padding-right: 50px;
}

.con-wrapper{
	margin-left:10px;
	@media (min-width: $breakpoint-small) {
	          margin:0;
	        }
}
.con-hr{
	@media (min-width: $breakpoint-medium) {
	          margin-top:70px;
	        }
}

.contact-background{
	background: #f4f4f4;
	border-radius: 10px;
}
.contact-wrapper{
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	padding:20px;
	font-size: 18px;
	font-family: 'Lato';
	font-weight: 300;
	letter-spacing: 0.3px;
	color: #676767;
	line-height: 31px;
	background-color:linear-gradient(to bottom,#f4f4f4 0%,#ffffff 100%);
	label{
		display:block;
		margin-bottom: 5px;
	}
	input, textarea{
		display:block;
		background-color: rgba(0,0,0,0.035);
		box-shadow: none;
		-webkit-box-shadow: none;
		border: none;
		position: relative;
		margin: 0;
		font-size: 14px;
		border-bottom: 2px solid #e0e0e0;
		-webkit-transition: border-color 0.2s ease;
		transition: border-color 0.2s ease;
		border-radius: 0;
		width:90%;
		padding:16px;
		line-height: 24px;
        color: #555;
        letter-spacing: 0.6px;
		&:focus{
			outline: none;
			border-color: $color;
		}
	}
	h3{
			font-size: 29px;
			margin-top: 30px;
            margin-bottom: 40px;
		}
}
.contact-btn{
		button{
           text-decoration: none;
		    border-width: 1.2px;
		    padding:15px;
		    padding-top: 13px;
		    padding-bottom: 13px;
			border: solid $color;
			color:$color;
			visibility: visible;
            background-color: transparent;
            letter-spacing: 1px;
            font-weight: 600;
            font-family: 'Mulish', sans-serif;
            font-size: 18px;
            transition: all 0.2s;
            cursor: pointer;
            margin-left: 35px;
            margin-bottom: 21px;
            @media (min-width: $breakpoint-small) {
			          margin-left: 49px;
			        }
			&:hover{
				background-color:$color;
				color:#fff;

			}
		}
	}
 .uk-open > .uk-modal-dialog {
   border-radius:10px;
 }
 .grecaptcha-badge{
 	    display: none;
 }

/*about*/

.about-page{

	    .first-sec{
	    	max-width: 1400px;
	    }
       
		.about{
			text-transform: uppercase;
			font-weight: 700;
			font-size: 80px;
			color: #ffffff;
			font-family: 'futura-pt', sans-serif;
			line-height: 1.1;
			text-shadow: 0 15px 30px rgb(0 0 0 / 12%);
			z-index: -1;
			text-align: center;
			@media (min-width: $breakpoint-small) {
			          font-size: 220px;
			        }   
		}
		.para{
			z-index: 1;
			color: #1f1e1d;
			font-family: 'Heebo', sans-serif;
			font-weight: 300;
			letter-spacing: 0.6px;
			font-size: 14px;
			@media (min-width: 465px) {
			          font-size: 15px;
			        }
			@media (min-width: $breakpoint-small) {
			          font-size: 16px;
			        }
			@media (min-width: $breakpoint-medium) {
			          font-size: 17px;
			        }   
			@media (min-width: $breakpoint-large) {
			          font-size: 19px;
			        }   
		}
		.sections{
			    max-width: 1200px;
			    margin-left: auto;
			    margin-right: auto;
			    margin-top:0;
		}
		.img-container{
			height:300px;
			@media (min-width: $breakpoint-small) {
			          height:400px;
			        }
			
			div{
				 background-position: top;
			}        
		}

}

/*svg*/

.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: none;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}
@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}

/*portfoilio*/

.portfolio{
	.img{
		height:200px;
		@media (min-width: $breakpoint-small) {
	          height:300px;
	        }
	}
	h3{
		margin-top: 20px;
	}
	p{
		color: #fff;
	}
}

/*services*/

.overflow-none{
	
}
.services-width{
	max-width:1000px;
}

.services{
	    background-color: #8f8f8f;
	    overflow: hidden;
	    
	.width{
		max-width:600px;
	}
	.service{
		color:#fff;
	}
	.img-left{
		transition:all 1s;
		width: 300px;
        height: 300px;
		
		margin-left: auto;
		margin-right: auto;
        &:hover{
        	display:none;
        }

	}
	.img-right{
		transition:all 1s;
		width: 300px;
        height: 300px;
		margin-right: auto;
		margin-left:auto;
		&:hover{
        	display:none;
        }
	}
	.invisible{
		left: 20px;
	}

	.inline{
		top: -55px;
		right: 0px;
		transition:all 1s;
		max-width:90%;
	}
	.inline-right{
		top: -55px;
		right: 0px;
		transition:all 1s;
		max-width:450px;
	}
	h2{
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 35px;
		line-height: 1;
		font-weight: 300;
		letter-spacing: 1.8px;
		margin: 0;
		color: white;
		padding: 15px;
		padding-left: 0;
	}
	p{
		transition:all 1.5s;
	}
	.last-p{
		font-style: oblique;
		margin-bottom: 0;
	}
	.paragraph{
		max-width:400px;
	    font-weight: 300;
	    letter-spacing: 0.6px;
	    strong{
	    	font-weight: 700;
	    }
	}
	.down{
		width:30px;
		margin-left:auto;
		margin-right:auto;
      a{
		background-color: transparent;
		border: none;
		cursor: pointer;
		color:#fff;
		&:hover{
			text-decoration: none;
		}
		.line{
		    height: 23px;
			width: 0.1px;
			border: solid 0.1px $color;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: -24px;
			margin-top: 7px;
			display:none;

		}
		span{
			margin-top:6px;
		}
	  }
	  a:hover .line{
	  	display:block;
	  }
	  a:hover span{
	  	color:$color;
	  }
	}
    
}
.arrow-service{
		span{
			color:#fff;
		}
	}

.faq-sec{
	padding-top:100px;
	z-index:100;
	max-width: 500px;
	margin-left:auto;
	margin-right:auto;
	color:#fff;
	padding-left: 10px;
    padding-right: 10px;
	.section{
        box-shadow: 0 5px 15px rgb(0 0 0);
        padding: 11px;
        margin-bottom: 10px;
        cursor: pointer;
        .question{
        	padding-bottom: 10px;
        }
	}
	p{
		font-size:16px;
		margin-top: 10px;
		@media (min-width: $breakpoint-small) {
	          font-size: 18px;
	        }
	}
	a{
		font-size: 20px;
        color: #fff;
        font-weight: 600;
        @media (min-width: $breakpoint-small) {
	          font-size: 23px;
	        }
        &:hover{
        	text-decoration: none;
        }
	}
}
.phone{
	max-width: 400px;
	padding-top:40px;
	margin-left: 10px;
    margin-right: 10px;
    margin-bottom:0;
    color:#fff;
    z-index:100;
	.img{
		height: 150px;
		@media (min-width: $breakpoint-small) {
	          height:200px;
	        }
	}
}
#service:hover #img{
	display:none;
}
#service2:hover #img2{
	display:none;
}

/*scrollbar*/

::-webkit-scrollbar
{
  width: 8px;  /* for vertical scrollbars */
  height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(0, 0, 0, 0.4);
}