// Custom styles
// =================================================

html{
       font-family: 'Source Sans Pro', sans-serif;
}
body{
	@media (min-width: $breakpoint-small) {
	        overflow-x: hidden;
	    }
}

.non-clickable{
	    pointer-events: none;
}
/*nav*/

.red{
	color: #CC0000 ;
}
.main-color{
	background-color:#110011;
}
.logo{
	font-family: 'Montserrat', sans-serif;
	@media (max-width: $breakpoint-small){
		span{
			color:white;
			font-size: 17px;
            font-weight: 500;
		}
	}
}
.nav-link{
	font-family: 'MuseoSans',sans-serif !important;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.8px;
    padding-bottom: .5rem;
    transition: 0.4s all;
    cursor: pointer;
    margin-right: 20px; 
}
.nav-large{
	transition: all 0.9s ease 0s;
}
.nav-small{
	transition: all 0.9s ease 0s;
}
.close-nav{
	display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    min-height: 80px;
    padding: 0 25px;
    font-size: 0.875rem;
    transition: all 0.7s ease 0s;
}
.nav-link-small{
	font-size: 40px;
    font-weight: 200 !important;
    font-family: 'Source Sans Pro', sans-serif !important;
    text-transform: capitalize;
    div{
    	transition: all 0.4s;
    }
}
/*main*/

.top-width{
	@media (max-width: 470px) {
	    width: 250px;
	}
}

.powerfull{
	    font-family: 'Source Sans Pro', sans-serif;
	    margin-bottom: 0px;
	    font-size: 49px;
	    text-align: center;
	    line-height: 1;
	    padding: 1rem;
	    font-weight: 300;
	    letter-spacing: 1.8px;
}
.strong{
	    font-family: 'Source Sans Pro', sans-serif;
}
@media (min-width: $breakpoint-small) {
	.powerfull{
		    font-size: 54px;
		    line-height: 1;
		    font-weight: 300;
		    letter-spacing: 1.8px;
		    margin-bottom:0px;
	}
}
@media (min-width: $breakpoint-small) {
	.strong{
	        font-size: 30px;
		    font-weight: 300;
		    line-height: 1.24;
		    width: 55rem;
		    z-index: 999999;
		    letter-spacing: 1.8px;
	}
  }
@media (min-width: $breakpoint-medium) {
	.powerfull{
		letter-spacing: 1.8px;
	    font-size: 67px;
	    font-weight: 600;
	     margin-bottom: 0px;
	}
}
@media (min-width: $breakpoint-medium) {
	.strong{
		    color: #fff;
			text-align: center;
			font-size: 29px;
			line-height: 1.24;
			width: 55rem;
			z-index: 999999;
	}
  }

  .arrow{
  	-webkit-animation: action 1s infinite  alternate;
        animation: action 1s infinite  alternate;
    }
    @-webkit-keyframes action {
        0% { transform: translateY(0); }
        100% { transform: translateY(-10px); }
    }
    @keyframes action {
        0% { transform: translateY(0); }
        100% { transform: translateY(-10px); }
    }


/*secondary sections*/

.info-sec{
	text-align:center;
	padding-top: 60px;

	.margin{
		margin-bottom:20px ;
		@media (min-width: $breakpoint-small) {
	        margin-bottom: 85px;
	    }
	}

	.powerfull-s{
		font-family: 'Source Sans Pro', sans-serif;
	    font-size: 49px;
	    text-align: center;
	    line-height: 1;
	    padding: 1rem;
	    font-weight: 300;
	    letter-spacing: 1.8px;
        margin:0;
        margin-bottom:40px;
        color:white;
        font-size: 65px;

        @media (min-width: $breakpoint-small) {
	        margin-bottom:0px;
	    }
        @media (min-width: $breakpoint-medium) {
	        font-weight :400px;
	        font-size: 75px;
	    }	
	    @media (min-width: $breakpoint-large) {
	        font-size: 90px;
	    }			
	}
	.strong-s{

		

		font-family: 'Source Sans Pro', sans-serif;
        margin:0;
        margin-bottom:10px;
        color:white;
	    letter-spacing: 2px;
	    text-transform: uppercase;
	    font-weight: 500;
	    text-shadow: 0 0 15px rgb(0 0 0 / 30%);
	    font-size:15px;

	    @media (min-width: $breakpoint-small) {
	        font-size: 25px;
	        margin:0;
	    }
		
		@media (min-width: $breakpoint-medium) {
	        font-size: 30px;
	    }
	}

	hr{
        margin:auto;
        margin-top: 20px;
        margin-bottom:45px;
        width:50px;
        color:white;
        border-top: 4px solid #e5e5e5;

        @media (min-width: $breakpoint-small) {
	          margin-top: 30px;
              margin-bottom: 35px;
	        }  
	    @media (min-width: $breakpoint-medium) {
	          margin-top: 45px;
              margin-bottom: 50px;
	        }      
	}
	a{
        color:white;
        text-transform: uppercase;
	    font-size: 13px;
	    letter-spacing: 1.4px;
	    font-family: 'MuseoSans',sans-serif;
	    line-height: 1.4;
	    font-weight: 100;
	}
    .p-sec{

        width:240px;
        margin-left: auto;
        margin-right: auto;

        @media (min-width: $breakpoint-small) {
	        width:300px;
	        }   

		p{
			font-family: "Source Sans Pro", sans-serif;
		    margin: 0;
		    color: white;
		    letter-spacing: 0.5px;
		    font-weight: 500;
		    text-shadow: 0 0 15px rgb(0 0 0 / 30%);
		    font-size: 16px;
		    text-align: left;
		    margin-top: 10px;

		    @media (min-width: $breakpoint-small) {
	        font-size: 19px;
	        }  
	        @media (min-width: $breakpoint-small) {
	        font-size: 22px;
	        }    

		    span{
		    	padding-right: 10px;
		    }

		}
    }
}

.last-sec{
	    padding-top: 80px;
	    width: 100%;
	    height: 100%;
	    padding-bottom: 150px;



	h4{
        font-family: 'Source Sans Pro', sans-serif;
	    font-size: 49px;
	    text-align: center;
	    line-height: 1;
	    font-weight: 300;
	    letter-spacing: 1.8px;
        margin:0;
        margin-top: 5px;
        color:white;
        font-size: 40px;

        @media (min-width: $breakpoint-small) {
        	margin-top:0;
	    }	

        @media (min-width: $breakpoint-medium) {
	        font-weight :400px;
	        font-size: 50px;
	    }	
	    @media (min-width: $breakpoint-large) {
	        font-size: 50px;
	    }			
	}

	.guy{
		margin-left: auto;
        margin-right: auto;
		width: 310px;
		@media (min-width: $breakpoint-small) {
	        width: 315px;
	    }	
        @media (min-width: $breakpoint-medium) {
	        width: 400px;
	        margin-top: 30px;
	    }	
	}
}

/*contact*/

.me{
	
}
.contact-top{
    color: #202020;
    font-family: 'MuseoSans',sans-serif;
    font-size: 12px;
    line-height: 0.7;
    letter-spacing: 1.5px;
    margin-bottom: 15px;
}
.contact-bottom{
    font-size: 15px;
    line-height: 1.39;
    letter-spacing: 1px;
    color: #999;
    font-weight: 200;
}
.hey{
	color: #202020;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;
    letter-spacing: 0.8px;
    line-height: 1;
}
.lets-make{
	font-size: 23px;
    line-height: 1.19;
    letter-spacing: 0.5px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: left;
    padding-right: 50px;
}

.con-wrapper{
	margin-left:10px;
	@media (min-width: $breakpoint-small) {
	          margin:0;
	        }
}
.con-hr{
	@media (min-width: $breakpoint-medium) {
	          margin-top:70px;
	        }
}

/*about*/

.about{
	text-transform: uppercase;
    font-weight: 700;
    font-size: 80px;
    color: #ffffff;
    font-family: 'futura-pt', sans-serif;
    line-height: 1.1;
    text-shadow: 0 15px 30px rgb(0 0 0 / 12%);
    z-index: -1;
    text-align: center;
    @media (min-width: $breakpoint-small) {
	          font-size: 220px;
	        }   
}
.para{
	z-index: 1;
    color: #1f1e1d;
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
    letter-spacing: 0.6px;
    font-size: 14px;
    @media (min-width: 465px) {
	          font-size: 15px;
	        }
    @media (min-width: $breakpoint-small) {
	          font-size: 16px;
	        }
    @media (min-width: $breakpoint-medium) {
	          font-size: 17px;
	        }   
    @media (min-width: $breakpoint-large) {
	          font-size: 19px;
	        }   
}


/*svg*/

.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: none;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}
@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}