<div class="main-color uk-height-small uk-padding-top" >
	<div class="uk-container">
		<nav class="uk-navbar-container uk-navbar-transparent" uk-navbar>
			<div class="uk-navbar-left">
				<a class="uk-padding-left logo uk-navbar-item uk-logo" href="{{ 'home' | page }}"><span style="background-color: white; color:#110011; padding:5px;">The Website Wolf</span>
				</a>
				<ul class="uk-navbar-nav">
                    <li class=""><a class="uk-link-reset" style="cursor: default;" href="{{ 'about' | page }}"><div class="nav-link"  id="aboutf">ABOUT</div></a></li>
                    <li><a class="uk-link-reset" style="cursor: default;"  href="{{ 'contact' | page }}" ><div class="nav-link"  id="contactf">CONTACT</div></a></li>
                </ul>
			</div>
		</nav>
</div>