 <!-- nav modal -->

<div id="modalnav" class="nav-small uk-modal-full" uk-modal style="background-color: #000">
    <div class="uk-modal-dialog">
        <button class="close-nav uk-modal-close-default"  style="color: white;" type="button" uk-close></button>
        <div class="uk-height-viewport uk-flex uk-flex-middle uk-flex-center uk-text-center" uk-height-viewport="offset-top: true" style="background-color: #000">
            <div class="uk-width-auto uk-text-large uk-text-normal">
                <ul class="uk-nav uk-nav-default uk-light" >
                    <li class=""><a class="nav-link-small uk-text-large" style="color: white;" href="{{ 'contact' | page }}">
                        <div uk-toggle="target: #con; cls: red; mode: hover; duration:500;  mode: media; media: @s; " id="con">CONTACT</div></a>
                    </li>
                     <li class="uk-nav-divider"></li>
                    <li><a class="nav-link-small uk-text-large" style="color: white;" href="{{ 'about' | page }}">
                        <div uk-toggle="target: #ab; cls: red; mode: hover; duration:500;  mode: media; media: @s; " id="ab">ABOUT</div></a>
                    </li>
                    <li class="uk-nav-divider"></li>
                    <li class=""><a class="nav-link-small uk-text-large" style="color: white;" href="{{ 'faq' | page }}">
                        <div uk-toggle="target: #ser; cls: red; mode: hover; duration:500;  mode: media; media: @s; " id="ser">FAQ</div></a>
                    </li>
                     
                </ul>
            </div>
        </div>
    </div>

    </div>

<!-- nav large -->

   <div class=" uk-position-top" >
        <nav  class="nav-large uk-position-z-index uk-navbar-container uk-navbar-transparent uk-visible@m" uk-navbar>
            <div class=" uk-navbar-left">
                <a href="{{ 'home' | page }}">
                 <img class="logo-design" data-src="./storage/app/media/websitewolflogo.svg" uk-img alt="">
               </a>
            </div>
            <div class="uk-dark uk-margin-right uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li class=""><a class="uk-link-reset" style="cursor: default;" href="{{ 'about' | page }}"><div class="nav-link {% if this.page.id == 'about' %} active {% endif %}" uk-toggle="target: #about; cls: red; mode: hover; duration:500; " id="about">ABOUT</div></a></li>
                    <li><a class="uk-link-reset" style="cursor: default;"  href="{{ 'contact' | page }}" ><div class="{% if this.page.id == 'contact' %} active {% endif %}nav-link" uk-toggle="target: #contact; cls: red; mode: hover; duration:500; " id="contact" >CONTACT</div></a></li>
                    <li><a class="uk-link-reset" style="cursor: default;"  href="{{ 'faq' | page }}" ><div class="nav-link" uk-toggle="target: #services; cls: red; mode: hover; duration:500; " id="services" >FAQ</div></a></li>
                </ul>
            </div>
        </nav>
    </div>

    <!-- nav small -->
    
    <div class="uk-position-top">
        <nav id="nav" class="uk-height-veiwport nav-small uk-navbar-container uk-navbar-transparent uk-hidden@m" uk-sticky uk-navbar >
            <div class="uk-light uk-navbar-left">
                <a href="{{ 'home' | page }}">
                 <img class="logo-design" data-src="./storage/app/media/websitewolflogo.svg" uk-img alt="">
                </a>
            </div>
            <div class="uk-light uk-margin-right uk-navbar-right">
                <a class="uk-navbar-toggle" style="color: black;" uk-navbar-toggle-icon uk-toggle href="#modalnav"></a>
            </div>
        </nav>
    </div>
