<!-- phone only -->

<div class="uk-hidden@m">

<!-- first sec -->
<div id="" class="uk-section uk-light uk-height-viewport uk-flex-middle uk-flex uk-flex-center main-color uk-position-relative">
  <div class="uk-position-absolute uk-width-1-1 uk-height-1-1 uk-background-cover uk-blend-color" data-src="./storage/app/media/wave.jpg" uk-img></div>

	   <!-- scroll -->

	   <div id="section1" class="scroll-1 non-clickable uk-height-viewport" style="width:100px;"> 
        </div>
        <div id="sec1"  class="scroll-2 non-clickable uk-height-viewport" uk-height-viewport="offset-bottom: true;" style="width:100px;"> 
        </div> 
        <div  class="scroll-3 non-clickable" style="width:100px;"> 
        </div>

     <!-- content -->
     <div class="services phone">
     	<div class="uk-background-cover img" data-src="./storage/app/media/design.jpg" uk-img alt="">
     	</div>
     	<div>
     		<h2>Design Package</h2>
		   	  <div class="">
			   	  <p ><strong>Main Focus</strong><br> Designing and oulaying your content throuhout the website, and creating a beautiful landing page.</p>
		          <p ><strong>Good for</strong><br>
		          an online presence to represent you and your work/business.
		          </p>
		          <p class="last-p">youl be able to log in to the backend of your site and easily add, remove and change things, based on the custom build we decide on.</p>
		      </div>
     	</div>	
     </div>
     <p class="uk-position-bottom uk-text-center" uk-scrollspy="cls:uk-animation-slide-bottom; delay:3200; repeat:true;">
        <a href="#section2" uk-scroll class="uk-margin-large-top  uk-visible@s" uk-icon="icon: chevron-down; ratio: 2" >   
        </a>
      </p>

</div>

<!-- second sec -->

<div  class="uk-section uk-height-viewport uk-flex-middle uk-flex uk-flex-center uk-position-relative main-color" uk-grid  >

  <div class="uk-position-absolute uk-width-1-1 uk-height-1-1 uk-background-cover uk-blend-color" data-src="./storage/app/media/wave2.jpg" uk-img></div>

	<!-- scroll -->

    <div id="section2" href="#second-section" class="scroll-1 non-clickable uk-height-viewport" > 
    </div>
    <div id="sec2"  uk-scrollspy="repeat:true;" class="scroll-2 non-clickable uk-height-viewport" uk-height-viewport="offset-bottom: true;"> 
    </div> 
    <div  class="scroll-3 non-clickable" > 
    </div>

    <!-- content -->
     
     <div class="services phone ">
     	<div class="uk-background-cover img" data-src="./storage/app/media/web-app.jpg" uk-img alt="">
     	</div>
     	<div>
     		<h2>Tech Package</h2>
		   	  <div class="">
			   	  <p><strong>Main Focus</strong><br> 
			   	  Building a system for your ideas vision.</p>
		          <p><strong>Good for</strong><br>
		          an online presence to sell/rent your products.
		          </p>
		          <p class="last-p">youl be able to log in to the backend of your site and easily add, remove and change things, based on the custom build we decide on.</p>
		      </div>
     	</div>	
     </div>

</div>
</div>